<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + class name : mapper를 구별하기 위한 이름 -->
	
<mapper namespace="com.ssafy.model.UserMapper">


	<insert id="insertUser" parameterType="user">
		insert into user (id, password, name, address, phone_number, allergy) values(#{id}, #{password}, #{name}, #{address}, #{phone_number}, #{allergy})
	</insert>
	
	<update id="updateUser" parameterType="user">
		update user set password=#{password}, name=#{name}, address=#{address}, phone_number=#{phone_number}, allergy=#{allergy} where id=#{id}
	</update>

	<delete id="deleteUser" parameterType="user">
		delete from user where id=#{id}
	</delete>
	
	<select id="findUser" parameterType="String" resultType="user">
		select * from user 
		<!-- <if test="id != null"> -->
			where id = #{id}
		<!-- </if> -->
	</select>
	

</mapper>